In [ ]:
import pandas as pd
import numpy as np

read csv file and print first five samples

In [ ]:
dataset_path = 'https://datahub.io/machine-learning/iris/r/iris.csv'

sort based on petalwidth and petallength

In [ ]:
# sort by petalwidth and petal length

convert data to ranks of each value

select sepallength of first five samples

group by: get mean of each class using groupby function

save first ten rows to a csv file

describe overview of dataset main details using describe function

find memory usage of each column

convert type of sepalwidth to int

count values of petalwidth

merge two dataframes outer join