In [ ]:
import pandas as pd
import numpy as np

read csv file and print first five samples

In [ ]:
dataset_path = 'https://datahub.io/machine-learning/iris/r/iris.csv' 
dataframe = pd.read_csv(dataset_path)
dataframe.head()

   sepallength  sepalwidth  petallength  petalwidth        class
0          5.1         3.5          1.4         0.2  Iris-setosa
1          4.9         3.0          1.4         0.2  Iris-setosa
2          4.7         3.2          1.3         0.2  Iris-setosa
3          4.6         3.1          1.5         0.2  Iris-setosa
4          5.0         3.6          1.4         0.2  Iris-setosa

save dataframe as tsv file ( tab separated)

In [ ]:
dataframe.to_csv('iris.tsv',sep='\t')

sort based on petalwidth and petallength

In [ ]:
# sort by petalwidth and petal length 
dataframe.sort_values(by=['petalwidth','petallength'])
dataframe.head(10)

   sepallength  sepalwidth  petallength  petalwidth        class
0          5.1         3.5          1.4         0.2  Iris-setosa
1          4.9         3.0          1.4         0.2  Iris-setosa
2          4.7         3.2          1.3         0.2  Iris-setosa
3          4.6         3.1          1.5         0.2  Iris-setosa
4          5.0         3.6          1.4         0.2  Iris-setosa
5          5.4         3.9          1.7         0.4  Iris-setosa
6          4.6         3.4          1.4         0.3  Iris-setosa
7          5.0         3.4          1.5         0.2  Iris-setosa
8          4.4         2.9          1.4         0.2  Iris-setosa
9          4.9         3.1          1.5         0.1  Iris-setosa

numerical data ranks convert data to ranks of values

select sepallength of first five samples

In [ ]:
dataframe['sepallength'].head()

0    5.1
1    4.9
2    4.7
3    4.6
4    5.0
Name: sepallength, dtype: float64

group by: get mean of each class using groupby function

In [ ]:
dataframe.groupby(['class']).mean()

                 sepallength  sepalwidth  petallength  petalwidth
class
Iris-setosa            5.006       3.418        1.464       0.244
Iris-versicolor        5.936       2.770        4.260       1.326
Iris-virginica         6.588       2.974        5.552       2.026

save first ten rows to a csv file

In [ ]:
dataframe.head(10).to_csv('first_ten_rows.csv',index=False)

describe overview of dataset main details using describe function

In [ ]:
dataframe.describe()

       sepallength  sepalwidth  petallength  petalwidth
count   150.000000  150.000000   150.000000  150.000000
mean      5.843333    3.054000     3.758667    1.198667
std       0.828066    0.433594     1.764420    0.763161
min       4.300000    2.000000     1.000000    0.100000
25%       5.100000    2.800000     1.600000    0.300000
50%       5.800000    3.000000     4.350000    1.300000
75%       6.400000    3.300000     5.100000    1.800000
max       7.900000    4.400000     6.900000    2.500000

find memory usage of each column

In [ ]:
dataframe.memory_usage()

Index           128
sepallength    1200
sepalwidth     1200
petallength    1200
petalwidth     1200
class          1200
dtype: int64

convert type of sepalwidth to int

In [ ]:
dataframe['sepalwidth'] = dataframe.sepalwidth.astype(int)
dataframe.head()

   sepallength  sepalwidth  petallength  petalwidth        class
0          5.1           3          1.4         0.2  Iris-setosa
1          4.9           3          1.4         0.2  Iris-setosa
2          4.7           3          1.3         0.2  Iris-setosa
3          4.6           3          1.5         0.2  Iris-setosa
4          5.0           3          1.4         0.2  Iris-setosa

count values of petalwidth

In [ ]:
dataframe['petalwidth'].value_counts()

0.2    28
1.3    13
1.8    12
1.5    12
1.4     8
2.3     8
1.0     7
0.4     7
0.3     7
0.1     6
2.1     6
2.0     6
1.2     5
1.9     5
1.6     4
2.5     3
2.2     3
2.4     3
1.1     3
1.7     2
0.6     1
0.5     1
Name: petalwidth, dtype: int64

merge two dataframes outer join

In [ ]:
import random
data1 = [[i ,random.randint(0,20)] for i in range(100)]
data2 = [[random.randint(0,20) , i] for i in range(40,140)]

dataframe1 = pd.DataFrame(data1 , columns=['id1','code1'])
dataframe2 = pd.DataFrame(data2 , columns=['code2','id2'])
merged = dataframe1.merge(dataframe2,left_on='id1', right_on='id2', suffixes=('_left', '_right'),how='outer')